*.tsv
*.pt
*.onnx

*nohup.out

*.vscode/
*/out/
*/bin/
*.DS_Store

*/log/
*.log

*/data/
*/.data/
*/model/

# 
tools/config.py

#python
*.pyc
*.ipynb_checkpoints/
*/__pycache__/

#cmake
*/build/*
*CMakeFiles/
*.cmake
CMakeCache.txt
Makefile
*.o 


stocks/output/
stocks/predict/
stocks/data/
stocks/log/
stocks/model/
stocks/model_tmp/

deep_learning/cplus_deploy/build
paddle/dataset/
paddle/output/

nlp/antispam/data/
nlp/antispam/dict/
py/

